<div class="container">
  <div class="row">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8">
      <h1>Productos</h1>

      <div align="right">
        <%= link_to "Crear", new_product_path %>
      </div>



      <table class="table">
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Categorias</th>
          <th></th>
        </tr>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td> 
                  <% product.categories.each do |cat| %>
                     <%= cat.name %>, 
                  <% end %>
               
            </td>
            <td> <%= link_to "Editar Producto", edit_product_path(product) %> </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-sm-2">&nbsp;</div>
  </div>
</div>